/* /v003/live/style/style-component-unsorted.css */






.testThing {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px;
    background-color: var(--color-black);
    background: transparent;
    z-index: 500;
}





