/* /v003/live/style/style-components-test-color-btn.css */


/* ===============================================================
 *  
 *  Hierarchical design
 * 
 *      ┌─────┐
 *      │Token│
 *      └─────┘
 * 
 * ===============================================================
 */
 


.color-btn {
    --z-val: 1;
    position: relative;
    z-index: var(--z-val);
    width: 70px; 
    height: 70px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer; 
    flex-shrink: 0; 
    background: var(--color-grey-warm);
    border-radius: var(--l-arc-galaxy);
    box-shadow:
        calc(var(--z-val) * var(--l-sun-horizon))
        calc(var(--z-val) * var(--l-sun-horizon))
        0px 0px var(--color-black-thin);
}
.color-btn:active {
    transform: translate(var(--l-sun-horizon), var(--l-sun-horizon));
    box-shadow: 2px 2px 2px 2px var(--color-black-thin);
        
}
.color-btn:hover {
    transform: scale(1.1);
}
.color-btn-1 {
    background: var(--color-accent-1);
}
.color-btn-2 {
    background: var(--color-accent-2);
}
.color-btn-3 {
    background: var(--color-accent-3);
}
.color-btn-4 {
    background: var(--color-accent-4);
}
.color-btn-5 {
    background: var(--color-accent-5);
}
#color-btn-unique {
    background: var(--color-white-warm);
}


/* ===============================================================
 *  
 *  Hierarchical design
 * 
 *      Conceptually
 * 
 *          ┌─ Atom ─────────┐
 *          │┌──────┐┌──────┐│
 *          ││TokenA││TokenB││
 *          │└──────┘└──────┘│ 
 *          └────────────────┘ 
 * 
 *      HTML
 * 
 *          <div class="atom">
 *              <div class="token"></div>
 *              <div class="token"></div>
 *          </div>
 * 
 * ===============================================================
 */




/* ===============================================================
 *  
 *  Hierarchical design
 * 
 *      Conceptually
 * 
 *          ┌─ Molecule ─────────────────────────┐
 *          │┌─ Atom ─────────┐┌─ Atom ─────────┐│
 *          ││┌──────┐┌──────┐││┌──────┐┌──────┐││
 *          │││------││------││││------││------│││
 *          ││└──────┘└──────┘││└──────┘└──────┘││
 *          │└────────────────┘└────────────────┘│ 
 *          └────────────────────────────────────┘
 *  
 *      HTML
 * 
 *          <div class="molecule">
 *              <div class="atom">
 *                  <div class="token"></div>
 *                  <div class="token"></div>
 *              </div>
 *              <div class="atom">
 *                  <div class="token"></div>
 *                  <div class="token"></div>
 *              </div>
 *          </div>
 * 
 * 
 * ===============================================================
 */


.color-btn-container {
    --z-val: 1;
    z-index: var(--z-val);
    position: fixed;
    left: 50%;
    top: 87%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    width: 100vw;
    height: 100px;
    background: transparent;
    overflow: visible;
}



/* ===============================================================
 *  
 *  Hierarchical design
 * 
 *    ┌─ Organism ─────────────────────────────┐
 *    │                                        │ 
 *    │ ┌─ Molecule ─────────────────────────┐ │
 *    │ │┌────────────────┐┌────────────────┐│ │
 *    │ ││┌──────┐┌──────┐││┌──────┐┌──────┐││ │
 *    │ │││------││------││││------││------│││ │
 *    │ ││└──────┘└──────┘││└──────┘└──────┘││ │
 *    │ │└────────────────┘└────────────────┘│ │
 *    │ └────────────────────────────────────┘ │
 *    │ ┌─ Molecule ─────────────────────────┐ │
 *    │ │┌────────────────┐┌────────────────┐│ │
 *    │ ││┌──────┐┌──────┐││┌──────┐┌──────┐││ │
 *    │ │││------││------││││------││------│││ │
 *    │ ││└──────┘└──────┘││└──────┘└──────┘││ │
 *    │ │└────────────────┘└────────────────┘│ │
 *    │ └────────────────────────────────────┘ │
 *    └────────────────────────────────────────┘
 * 
 * ===============================================================
 */
 
 
 
 

/* ===============================================================
 *  
 *  Scratch
 * 
 *     ┌─ ? ────────────┐
 *     │                │
 *     │       ?        │
 *     │                │ 
 *     └────────────────┘ 
 *   
 * 
 * ===============================================================
 */


