/* /v003/live/style/style-component_a.css */
@import url('style-primitives.css');

#desktop {
    --z-val: 1;
    position: fixed;
    top: 0; left: 0;
    --z-val: 0;
    height: 400px;
    width: 200px;
    position: fixed;
    z-index: var(--z-val);
    background-color: var(--color-black);
}

.wallpaper {
    --z-val: 1;
    overflow: hidden;
    position: fixed;
    inset: 0;
    opacity: 0.1;
    background-color: var(--color-grey-warm);
    background-image: 
        linear-gradient(var(--color-black-warm) 1px, transparent 1px),
        linear-gradient(90deg, var(--color-black-warm) 1px, transparent 1px);
    background-size: 28px 28px;
    z-index: var(--z-val);
}

.watermark {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 250px; 
    height: 250px;
    opacity: 0.1;
    color: #111111;
    pointer-events: none;
    background-image: url('../svgs/p-shell-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    --z-val: 1;
    z-index: var(--z-val);
}

.btn-desktop-cmd {
    --z-val: 4;
    position: fixed;
    top: 20px; 
    right: 20px;
    width: 40px; 
    height: 40px;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.2s ease;
    background-color: transparent; 
    border: none;
    padding: 0;
    outline: none;
    appearance: none;
    background-image: url('../svgs/fs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: var(--z-val);
}
.btn-desktop-cmd:hover {
    opacity: 0.8;
    background-color: transparent;
    color: #ff0000;
}
